@media (min-width:800px) {

.divNewWindow{
  position: fixed;
  display: flex;
  top:2%;
  left:1%;
  transform: translate(-50% -50%);
  height: 700px;
  width: 1000px;
  background:linear-gradient(45deg, #000000,rgb(44, 181, 239));
  z-index: 4;
  border-radius: 25px;
  border: 10px black solid;

}
.divNewWindow:hover{

  animation: rotateColors 5000ms infinite ;
}
#closed{
 position: absolute;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: #ffc91f;
 font-weight: 900;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  border: 2px #ffc91f solid;
  margin-bottom: 10px;
  padding: 2px 7px;
}
#closed:hover{
  color: red;
  border: red 2px solid;
}



@keyframes rotateColors {
  0% {
    background:linear-gradient(10deg, #000000, rgb(44, 181, 239));
  }
  50%{
    background:linear-gradient(10deg, rgb(13, 201, 85), rgb(0, 0, 0));
  }
  70%{
    background:linear-gradient(10deg, #ffc91f, black);
    
  }
  100%{
    background:linear-gradient(10deg, #000000, rgb(44, 181, 239));

  }
}

}