
@media (max-width:500px) {

  .bodySecundario{
    position: absolute;
    top: 5%;
    left: 2%;
    transform: translate(-50%,-50%);
    height: 900px;
    width: 600px;
    background-color: black;
    color: var(--titulo);
  }
  #conteudo-menu{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--titulo);
    font-size: 15pt;
  }
#link-conteudo-menu{

}

#linkStyle{
  top: 10%;
  left: 10%;
  position: fixed;
  color: blue;
}

  #foto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 25px;
  }
  #closePage{
    position: absolute;
    top: 10%;
    left: 10%;

  }

}


/*pc*/

@media (min-width:1000px) {

  .bodySecundario{
    position: fixed;
    display: flex;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 300px;
    background-color: black;
    color: var(--titulo);
    z-index: 2;
    margin-top: 250px;
    gap: 50pc;
    flex-direction: column;
    border-radius: 25px;
  }
  #conteudo-menu{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--titulo);
    font-size: 15pt;
    gap: 50px;
  }
  .circle-Img{
    position: fixed;
    top: 0%;
    right: 0%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: yellow 2px solid;
    overflow: hidden;

  }
#link-conteudo-menu{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 200px;

}

#linkStyle{
  top: 10%;
  left: 10%;
  color: blue;
}

  #foto{
    display: flex;
    margin-top: 100px;
    margin-right: 20px;
    height: 150px;
    border-radius: 25px;
    
  }
  #closePage{
  position: fixed;
    bottom: 89%;
    left: 10%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 30px;
    width: 30px;
  
  text-align: center;
    border: 2px solid var(--titulo);
  }

}