
.video{
  display: none;
  position: absolute;
  display: flex;
  left: 10%;
  opacity: 50%;  

}

@media(max-width:1000px) {
  
  .video{
    position: absolute;
    display: flex;
    left: 15%;
    opacity: 50%;  
  }
  .content-video{
    position: absolute;
    left: 1px;
    height: 650px;
    
  }

  
}