@media(max-width:500px){
  #video{   
    height: 300px;
    display: none;
    align-items: center;
    justify-content: center;
    
  
  }
}
@media(min-width:1000px){
  #video{   
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--titulo);
    margin-right: 50px;
    margin-bottom: 60px;
  
  }
}