

@media(min-width:600px) {
  
  .video{
    position: absolute;
    display: flex;
    left: 10%;
    opacity: 50%;  
  }
  .content-video{
    position: absolute;
    left: 1px;
    height: 6500px;
  
  }

  
}