.box-presentation {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  border: 2px solid #ffc91f;
  width: 250px;
  height: 350px;
  border-radius: 25px;
  margin-top: 100px;
  flex-direction: column;
  overflow: hidden;
}
.circle-img-home {
  position: absolute;
  margin-top: 25px;
  border-radius: 50%;
  border: 2px solid #ffc91f;
  overflow: hidden;
  width: 200px;
}
h3 {
  position: absolute;
  bottom: 60px;
  left: 30px;
  color: #ffc91f;
  font-weight: 500;
}
#minhaImg {
  height: 170px;
}

.contentRedeSocial {
  position: absolute;
  display: flex;
  bottom: 2px;
}



#planoDeFundo {
  height: 500px;
  opacity: 50%;
}
#container-planoDeFundo {
  position: relative;
}
