.box-presentation {
position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  border: 2px solid #ffc91f;
  width: 250px;
  height: 350px;
  border-radius: 25px;
  margin-top: 10px;
  flex-direction: column;
  overflow: hidden;
}
.circle-img-home {
  position: absolute;
  margin-top: 25px;
  border-radius: 50%;
  border: 2px solid #ffc91f;
  overflow: hidden;
  width: 200px;
}
.circle-img-home:hover{
  animation: rotacao linear 5000ms;
}
@keyframes rotacao {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
h3 {
  position: absolute;
  top: 220px;
  left: 30px;
  color: #ffc91f;
  font-weight: 700;
  text-shadow: 5px 5px 10px #000000;
  
}
#minhaImg {
  height: 170px;
}


.contentRedeSocial {
  position: absolute;
  display: flex;
  bottom: 2px;
}



#planoDeFundo {
  height: 500px;
  opacity: 90%;
}
#container-planoDeFundo {
  position: relative;
}
