@media (min-width:800px) {

#tablet{
  position: absolute;
  left: 5%;
  top: 1%;
  transform: translate(-50% -50%);
  height: 200px;
  z-index: 3;




}
#roboImg{

  height: 200px;
  border-radius: 20px;

}



.containerAlvo{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  margin-top:-170px ;
  margin-left: 400px;
}
#containerImg{
  font-weight: 700;
  flex-direction: column;
  display: block;
}
#titleAlvo{

  position: absolute;
  color: #ffc91f;   
  margin-top: -200px;
  font-weight: 800;
}
#relogio{
  height: 150px;
  border-radius: 25px;
  opacity: 90%;
}
#alvo{
  display: flex;
  margin-top: 10px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 20px;
}
#containerRelogio{
  display: block;
  margin-top: 25px;

}
#titleRelogio{
  font-weight: 700;
}


}