#menuOption{
position: absolute;
height: 30px;
right: 25px;
margin-top: 25px;
}

@media (min-width:1200px) {
  #menuOption{
    position: absolute;
    height: 30px;
    right: 25px;
    margin-top: 80px;
    }
}