@media(max-width:500px) {
  #menuItemOption{
    position: fixed;
    left: 11%;
    top: 2%;
    transform: translate(-50%,-50%);
  }
  #linha1{
    position: fixed;
    margin-top: 10PX;
  
    border: 2px solid #ffc91f;
    width: 50px;
    box-shadow: 5px 5px 5px #000000 ;
  }
  #linha2{
    position: fixed;
    border: 2px solid #ffc91f;
    width: 50px;
    margin-top: 20PX;
    box-shadow: 5px 5px 5px #000000 ;
}
#linha3{
  margin-top: 30PX;
  position: fixed;
  border: 2px solid #ffc91f;
  width: 50px;
  box-shadow: 5px 5px 5px #000000 ;
}
/**/
}
@media(min-width:1000px) {
  #menuItemOption{
    position: fixed;
    left: 56%;
    top: 20%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 60px;
  }
  #linha1{
    position: fixed;
    margin-top: 10PX;
  
    border: 2px solid #ffc91f;
    width: 50px;
    box-shadow: 5px 5px 5px #000000 ;
  }
  #linha2{
    position: fixed;
    border: 2px solid #ffc91f;
    width: 50px;
    margin-top: 20PX;
    box-shadow: 5px 5px 5px #000000 ;
}
#linha3{
  margin-top: 30PX;
  position: fixed;
  border: 2px solid #ffc91f;
  width: 50px;
  box-shadow: 5px 5px 5px #000000 ;
}

}