
@media (max-width:500px) {
  #imgRedesSociaisGmail {
    
    position: fixed;
   top: 67%;
    left: 40%;
    height: 50px;
    
  }
}
  
/*pc*/
@media (min-width:1000px) {
  #imgRedesSociaisGmail {
    position: fixed;
    top: 62%;
    left: 54%;
    transform: translate(-50%,-50%);
    height: 50px;
    
  }
}
  