body{
height: 100vh;
background:linear-gradient(3deg, #000000,  #3533CD);
justify-content: flex-end;
align-items: flex-start;
margin-right: 150px;
display: flex;

}
.video{
  display: none;
}
.titleMenuHome{
  display: flex;
  position: absolute;
  top: 10%;
  left: 30%;
  color: #FEDC58;
  
}
@media (min-width:1200px) {
  body {
    display: flex;
    justify-content:center;
    align-items: center; 
    margin-left: 150px;
   
  }
  header{
    position: relative;
    height: 650px;
    width: 500px;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .titleMenuHome{
    display: flex;
    top: 1px;
    left:25px;
    font-size: 50pt;
    margin-top: 10px;
    text-shadow: 5px 5px 10px #000000;
    
}
}
header{
  display: flex;
  justify-content:center;
  align-items: flex-start;

}
main{
  display:flex;
  justify-content: center;
  align-items: center;

}


